@model IEnumerable<Tsserver>


@{
    ViewData["Title"] = "Личный кабинет";
}

    <script src="~/js/cabinet.js"></script>
    <link href="~/css/cabinet.css" rel="stylesheet" />

<h2>@ViewData["Title"]</h2>

<div>
    На вашем счету: @ViewBag.current_user.Money руб.<a href="/cabinet/pay" class=" btn btn-sm btn-primary">Пополнить</a>
    <a href="/cabinet/new" class="btn btn-dark">Купить сервер</a>
    <a href="/cabinet/ref" class="btn btn-primary">Реферальная программа</a>
</div>

<h2>Список серверов</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Доменное имя</th>
                <th>IP</th>
                <th>Количество слотов</th>
                <th>Дата следующего платежа</th>
                <th>Остаток дней</th>
                <th>Статус</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var ts in Model)
            {
            <tr>
                <td> @(ts.Dns + ".easy-ts.ru") </td>
                <td> 127.0.0.1: @ts.Port </td>
                <td> @ts.Slots </td>
                <td> @ts.TimePayment </td>
                <td>
                    @{
                        var left_time = (ts.TimePayment - DateTime.Now).Days;

                        if (left_time > 7){
                            <h5 style="color: green">@left_time</h5>
                        }
                        else if (left_time < 0){
                            <h5 style="color: red">@left_time</h5> 
                        }
                        else{
                            <h5 style="color: yellow">@left_time</h5>
                        }
                    }
                </td>
                <td> TODO </td>
                <td> <a asp-controller="Cabinet" asp-action="Panel" asp-route-id="@ts.Id" class="btn btn-primary">Панель</a> </td>
            </tr>
            }
        </tbody>
    </table>
</div>