@using TeamSpeakWEB.Data

@model IEnumerable<Tsserver>


@{
    ViewData["Title"] = "Личный кабинет";
}

    <script src="~/js/cabinet.js"></script>
    <link href="~/css/cabinet.css" rel="stylesheet" />

<h2>@ViewData["Title"]</h2>

<div>
        На вашем счету: @ViewBag.current_user.money руб.<a href="/cabinet/pay" class=" btn btn-sm btn-primary">Пополнить</a>
        <a href="/cabinet/new" class="btn btn-dark">Купить сервер</a>
        <a href="/cabinet/ref" class="btn btn-primary">Реферальная программа</a>
</div>

<div>
    <h4>Авто-продление</h4>
    <div class="btn-group" id="toggle_event_editing">
        <button type="button" class="btn btn-info locked_active">OFF</button>
        <button type="button" class="btn btn-default unlocked_inactive">ON</button>
    </div>
</div>


<h2>Список серверов</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Доменное имя</th>
                <th>IP</th>
                <th>Количество слотов</th>
                <th>Дата следующего платежа</th>
                <th>Остаток дней</th>
                <th>Статус</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var ts in Model)
            {
            <tr>
                <td> @(ts.dns + ".easy-ts.ru") </td>
                <td> 127.0.0.1: @ts.port </td>
                <td> @ts.slots </td>
                <td> @ts.time_payment </td>
                <td>
                    @{
                        var left_time = (ts.time_payment - DateTime.Now).Days;

                        if (left_time > 7){
                            <h5 style="color: green">@left_time</h5>
                        }
                        else if (left_time < 0){
                            <h5 style="color: red">@left_time</h5> 
                        }
                        else{
                            <h5 style="color: yellow">@left_time</h5>
                        }
                    }
                </td>
                <td> TODO </td>
                <td> <a href="/cabinet/panel/@ts.id" class="btn btn-primary">Панель</a> </td>

            </tr>
            }
        </tbody>
    </table>
</div>