
@{
    ViewData["Title"] = "Panel";
}

<h1>Panel</h1>

<style>
    a.btn {
        width: 200px;
    }
</style>



<div class="row">
    <div class="col-md-6">

        <div class="functions">
            <ul style="list-style-type: none">
                <li> <a asp-controller="Cabinet" asp-action="Token" asp-route-id="@ViewBag.id" class="btn btn-primary">Токены</a></li>
                <li> <a asp-controller="Cabinet" asp-action="Settings" asp-route-id="@ViewBag.id" class="btn btn-primary">Настройка</a></li>
                <li> <a asp-controller="Cabinet" asp-action="Edit" asp-route-id="@ViewBag.id" class="btn btn-primary">Редактировать</a></li>
                <li> <a asp-controller="Cabinet" asp-action="Backups" asp-route-id="@ViewBag.id" class="btn btn-primary">Бекапы</a></li>
                <li> <a asp-controller="Cabinet" asp-action="TurnStatus" asp-route-id="@ViewBag.id" class="btn btn-primary">Вкл/Выкл</a></li>
                <li> <a asp-controller="Cabinet" asp-action="Extend" asp-route-id="@ViewBag.id" class="btn btn-primary">Продлить</a></li>
                <li> <a asp-controller="Cabinet" asp-action="Reset_Password" asp-route-id="@ViewBag.id" class="btn btn-primary">Сбросить права</a></li>
                <li> <a asp-controller="Cabinet" asp-action="Destroy" asp-route-id="@ViewBag.id" class="btn btn-primary">Удалить</a></li>
            </ul>
        </div>
    </div>


    <div class="col-md-6">

        <div class="tsstatus">
           @* <% panel = panel_gen.to_s.force_encoding("UTF-8") %>*@
            @*<%= @count_users %>/<%= @info['virtualserver_maxclients'] %> <br>*@
            @*<%= raw panel%>*@
        </div>

        <!--<div class="tsinfo">-->
        <!--Uptime: <%= Time.at(info['virtualserver_uptime'].to_i).strftime("%-d:%H:%M:%S") %> <br>-->
        <!-- Packet loss: <%= info['virtualserver_total_packetloss_total'] %> -->
        <!--</div>-->

    </div>


</div>
