@using TeamSpeakWEB.Data

@model IEnumerable<Tsserver>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @foreach (var v in Model)
    {
        <p> dns: @v.dns </p>
        <p> slots: @v.slots </p>
        <p> user: @v.user </p>
        <p> port: @v.port </p>
    }

    @ViewBag.User
</div>
